/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}

/*put all other styles below this line, please*/

body {
  font-family: "Roboto", sans-serif;

}

#root{
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
  "header"
  "nav"
  "content"
  "footer"
}

header {
  grid-area: header;
  background-color: white;
  margin: 0px auto;
}
nav {
  grid-area: nav;
  background-color: darkslategray;
}
content {
  grid-area: content;
  background-color: #474646;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 60vw;
  background: linear-gradient( navy, cyan 30%, white 10%, orangered 30%, darkred);
  outline: #000 solid 3px;
  margin: 0 auto;
}

label,
input,
textarea {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ddd;
}

label {
  color: black;
  background: none;
  font-family: "Myriad Pro", "Helvetica", "Univers", sans-serif;
  text-transform: uppercase;
}

.pic {
  max-width: 200px;
}

textarea {
  height: 500px;
}

.card {
  border: darkblue 2px solid;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

#submit,
#clear {
  margin: 10px auto;
}

#submit:hover,
#clear:hover,
#submit:focus,
#clear:focus {
  background-color: hotpink;
  transform: scale(1.125, 1.125);
  transition: 1.5s;
}
