/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}

/*put all other styles below this line, please*/

body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: white;
  margin: 0px auto;
}
nav {
  background-color: darkslategray;
}
content {
  background-color: #cbd9f1;
}

.card {
border: darkblue 2px solid;
font-family: sans-serif;
text-decoration: none;
list-style: none;
}

footer {
  display: flex;
  justify-content: center;
}
